<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <link rel="stylesheet" href="/static/style.css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Job Scraper</title>
  </head>
  <body>
    <nav class="navbar">
      <a class="navbar-title" href="/"
        ><i class="navbar-logo fa-solid fa-crow"></i>Job Scraper</a
      >
    </nav>
    <div class="form-container">
      <form
        class="search-form"
        action="/report"
        method="GET"
        name="searchForm"
        onsubmit="setLoading()"
      >
        <input
          class="search-input"
          type="text"
          placeholder="Job keyword"
          name="query"
          required
          autofocus
        />
        <button class="search-button">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>
      {% if jobs %}
      <a class="download" href="/export?query={{search_text}}"
        ><i class="download-icon fa-solid fa-circle-down"></i>Export to CSV</a
      >
      {% endif %}
    </div>
    <div class="guide">
      <span>
        Found {{result_num}} jobs for '<strong class="strong"
          >{{search_text}}</strong
        >'</span
      >
      <span> Done in {{time}}s ✨ </span>
    </div>
    <section class="result-table">
      <h2>Title</h2>
      <h2>Company</h2>
      <h2>Location</h2>
      {% for job in jobs %}
      <a href="{{job.link}}" target="_blank">{{job.title}}</a>
      <span>{{job.company}}</span>
      <span>{{job.location}}</span>
      {% endfor %}
    </section>
    <div class="loading">Loading...</div>
    <script src="/static/script.js"></script>
  </body>
</html>
